[submodule "lib/libft"]
	path = lib/libft
	url = git@github.com:kohkubo/libft_v3.git
[submodule "lib/libex"]
	path = lib/libex
	url = git@github.com:kohkubo/libex.git
[submodule "lib/libbclst"]
	path = lib/libbclst
	url = git@github.com:kohkubo/libbclst.git
